[Unit]
Description=Write all sensor data to CouchDB
After=multi-user.target couchdb.service

[Service]
Type=idle
User=root
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python /home/pi/djrff/rpi-enviro-phat/all_sensors_to_db.py

[Install]
WantedBy=multi-user.target