[Unit]
Description=Write light sensor data to CouchDB
After=multi-user.target couchdb.service

[Service]
Type=idle
User=root
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python /home/pi/djrff/rpi-enviro-phat/sensors/light.py

[Install]
WantedBy=multi-user.target
